<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.auto.Autowallpaperchanger">

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
        <activity android:name="com.auto.Autowallpaperchanger.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">


            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity
            android:name="com.auto.Autowallpaperchanger.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.auto.Autowallpaperchanger.MultiSelectImagesActivity"
            android:label="@string/lable_select_photo"
            android:parentActivityName="com.auto.Autowallpaperchanger.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.auto.Autowallpaperchanger.SettingActivity"
            android:label="@string/nav_setting"
            android:parentActivityName="com.auto.Autowallpaperchanger.MainActivity"
            android:screenOrientation="portrait" />

        <receiver android:name="com.auto.Autowallpaperchanger.Receivers.WallpaperReceiver" />
        <receiver
            android:name="com.auto.Autowallpaperchanger.MainActivity$MyReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="selected" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.auto.Autowallpaperchanger.Receivers.BatteryLowReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW" />
            </intent-filter>
        </receiver>
    </application>

</manifest>